/* 
.detailPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-top: 150px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    overflow-y: auto;
} */

.panelOpen {
    transform: translateX(0);
}

/* 3. Estilos de Conteúdo */
.closeButton {
    position: sticky; /* Fica fixo no topo ao rolar */
    top: 0;
    width: 100%;
    text-align: right;
    padding: 15px;
    font-size: 2rem;
    cursor: pointer;
    background: white;
    border-bottom: 1px solid #eee;
    z-index: 101; /* Acima do conteúdo */
}

.detailContent, .formContainer {
    padding: 20px;
    padding-top: 0; /* Ajusta o padding superior já que o botão de fechar tem padding */
}

/* Header de Vaga */
.header {
    position: relative;
    border-bottom: 2px solid #918c8c;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #28517a, #98e9ff);
    margin-top: 15px;
    border-radius: 2px;
}
.vagaTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.vagaIcon {
    font-size: 1.5rem;
}
.vagaTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}
.vagaArea {
    font-size: 0.9rem;
    color: #666;
    margin-left: 35px;
}
.tagContainer {
    margin-top: 30px;
    /* margin-left: 35px; */
}
.tag {
    background-color: #f0f0f0;
    color: #555;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 5px;
}

/* Corpo da Descrição */
.descriptionHeader {
    font-weight: 700;
    color: #007bff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
}
.descriptionText {
    white-space: pre-wrap;
    line-height: 1.6;
    color: #444;
}

/* Footer (Botão Candidatar-se) */
.footer {
    bottom: 0;
    background: #d1e3f7;
    padding: 20px 0;
    text-align: center;
    z-index: 10;
}