/* src/app/vagas/components/VagasDisponiveis.module.css */

.vagasGrid {
    /* Não precisa ser grid aqui, apenas um flex para empilhar */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 5px; Padding interno para o masterPanel */
}

.vagaMiniCard {
    background-color: #d1e3f7;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-left: 5px solid transparent;
}

.vagaMiniCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-left-color: #007bff; /* Destaca a seleção */
}
.vagaMiniCardActive {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-left-color: #007bff; 
}

/* Estilos de Conteúdo */
.vagaTitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.vagaArea {
    font-size: 0.9rem;
    color: #555;
}

.vagaLocation {
    font-size: 0.85rem;
    color: #777;
    margin-top: 5px;
}

.vagaMiniCardActive {

    background-color: #e0f7ff;
    border-left-color: #007bff;
    font-weight: 600;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.vagaMiniCardActive:hover {
    transform: translateY(0);
    border-left-color: #007bff; 
}