.header {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  z-index: 50;
}

.headerContent {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;

}

@media (min-width: 640px) {
  .headerContent {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .headerContent {
    padding: 0 2rem;
  }
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  flex-shrink: 0;
}

.logoLink {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logoImage {
  height: 3rem;
  width: auto;
}

.navigation {
  display: none;
  gap: 2rem;
  height: 100%;
  align-items: end;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navLink {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;

}

.navLink:hover {
  color: var(--primary-dark);
  box-shadow: inset 0 -4px 0 var(--primary-dark);
}

.activeLink {
  color: var(--primary-color) !important; 
  box-shadow: inset 0 -4px 0 var(--primary-color);
}

.activeLink:hover {
  box-shadow: inset 0 -4px 0 var(--primary-color);
}

.mobileActiveLink {
  color: var(--primary-color);
  background-color: var(--light-gray);
}


.mobileMenuButton {
  display: block;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.mobileMenuButton:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mobileMenuButtonScrolled:hover {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .mobileMenuButton {
    display: none;
  }
}

.mobileMenu {
  display: block;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

.mobileMenuContent {
  padding: 0.5rem 0.75rem 0.75rem;
  background-color: white;
  border-top: 1px solid var(--border-color);
}

.mobileNavLink {
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.mobileNavLink:hover {
  color: var(--primary-color);
}
