.buttonStyled {
  /* font-family: "var(-font-primary)"; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--bg, #333);
  color: var(--color, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonStyled:hover {
  background: var(--hover-bg, #555);
  color: var(--hover-color, #eee);
}
