.bnnr_products {
  width: 100%;
  padding: 0;
  margin: 0; 
  overflow: hidden; 
  background-color: #2563EB; 
}

.slide {
  position: relative;
  height: 600px; 
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 1200px; 
  width: 90%;
}

.bannerContent h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}